body {
    padding: 0;
    margin: 0;
}

html, body, #mapId {
    height: 100%;
}

.mapControler {
    z-index: 10000;
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.65);
}

.hidden {
    display: none;
}

#cityChoice {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: .5rem 5px 0 5px;
}